.t-black{font-weight: 900};
.t-extrabold{font-weight: 800};
.t-bold{font-weight: 700};
.t-semibold{font-weight: 600};
.t-medium{font-weight: 500};
.t-regular{font-weight: 400};
.t-light{font-weight: 300};
.t-italic{font-style: italic};
.t-uppercase {text-transform: uppercase;}
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}

//families
.font_1 {
  font-family: $font_1;
}

.font_2 {
	font-family: $font_2;
}

// sizes
.t-130 {
	font-size: rvw(130);
	line-height: rvw(105);
	@media screen and (orientation: portrait) {
		font-size: rvh(130, .63);
		line-height: rvh(105, .68);
	}
}

.t-90 {
	font-size: rvw(90);
	line-height: rvw(92);
	@media screen and (orientation:portrait) {
		font-size: rvh(90);
		line-height: rvh(92);
	}
}

.t-80 {
	font-size: rvw(80);
	line-height: rvw(82);
	@media screen and (orientation:portrait) {
		font-size: rvh(80);
		line-height: rvh(82);
	}
}

.t-60 {
	font-size: rvw(60);
	line-height: rvw(62);
	@media screen and (orientation:portrait) {
		font-size: rvh(60, .81);
		line-height: rvh(62, .91);
	}
}

.t-40 {
	font-size: rvw(40);
	line-height: rvw(48);
	@media screen and (orientation:portrait) {
		font-size: rvh(40, 1.22);
		line-height: rvh(48, 1.21);
	}
}

.t-28 {
	font-size: rvw(28);
	line-height: rvw(42);
	@media screen and (orientation:portrait) {
		font-size: rvh(24, 1.1);
		line-height: rvh(35, 1.2);
	}
}

.t-24 {
	font-size: rvw(24);
	line-height: rvw(35);
	@media screen and (orientation:portrait) {
		font-size: rvh(24, 1.1);
		line-height: rvh(35, 1.2);
	}
}

.t-22 {
	font-size: rvw(22);
	line-height: rvw(33);
	@media screen and (orientation:portrait) {
		font-size: rvh(22, 1.1);
		line-height: rvh(33, 1.2);
	}
}

.t-20 {
	font-size: rvw(20);
	line-height: rvw(30);
	@media screen and (orientation:portrait) {
		font-size: rvh(20, 1.3);
		line-height: rvh(30, 1.3);
	}
}

.t-18 {
	font-size: rvw(18);
	line-height: rvw(28);
	@media screen and (orientation:portrait) {
		font-size: rvh(18, 1.35);
		line-height: rvh(28, 1.35);
	}
}

.t-15 {
	font-size: rvw(15);
	line-height: rvw(15);
	@media screen and (orientation:portrait) {
		font-size: rvh(15, 1.35);
		line-height: rvh(15);
	}
}



//Common Titles
.sec-name {
	color: $brown-700;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	margin-bottom: rvh(20);
	font-size: rvw(18);
	line-height: rvw(35);
	letter-spacing: rvw(3);
	@media screen and (orientation:portrait) {
		font-size: rvh(18, 1.4);
		line-height: rvh(35, 1.62);
		letter-spacing: rvh(3);
	}
}
